body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: steelblue;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

input[type="text"] {
  border: none;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
}

input:invalid {
  outline: 2px solid crimson;
}

input:focus {
  outline: none;
}

.error.active {
  color: crimson;
}

.flex {
  display: flex;
  gap: 10px;
}

.day {
  background-image: linear-gradient(steelblue, antiquewhite);
  color: rgba(0 0 0 / 0.8);
}

.night {
  background-image: linear-gradient(rgba(0 0 0 / .5), rgba(0 0 0 / .8));
  color: rgba(255 255 255 / 0.8);
}