body {
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: steelblue;
  margin: auto;
}

form, div {
  width: 100%;
}

img.gif {
  display: flex;
  max-height: 40vh;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

input[type="text"] {
  border: none;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

input:invalid {
  outline: 2px solid crimson;
}

input:focus {
  outline: none;
}

.error.active {
  color: crimson;
}

.flex {
  display: flex;
  gap: 10px;
}

.day {
  background-image: linear-gradient(steelblue, antiquewhite);
  color: rgba(0 0 0 / 0.8);
}

.night {
  background-image: linear-gradient(rgba(0 0 0 / .5), rgba(0 0 0 / .8));
  color: rgba(255 255 255 / 0.8);
}

.hidden {
  display: none;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}